
.head-menu-contact {
	@extend %text-header;
	font-size: 4.5em;
}

.border-line {
	@include line(45%);
}

.menu-contact {
	font-size: 1.8em;
	color: lighten($text-header-color, 20%);
	line-height: 2em;
	@include text-shadow(rgba($text-header-color, 0.4) 1px 1px 0);
	&:hover {
		color: lighten($active-color, 20%);
	}
}

.menu-contact.active{
	color: lighten($active-color, 20%);
}

.gmap {
	width: 720px;
	height: 520px;
	background: #000;
}

#berli {
	padding-bottom: 8em;
	.berli-header{
		@extend %text-header;
	}
	.berli-bold{
		font-size: 1.5em;
		font-weight: bold;
		color: $text-header-color;

	}
	.berli-text{
		font-size: 1.5em;
	}
}

#packaging{
	display:none;
	padding-bottom: 5em;
	.packag-header{
		@extend %text-header;
	}

	.packag-sub-header{
		padding-bottom: .7em;
		font-size: 2.5em;
		color: lighten($active-color, 30%);
		line-height: 35px;
	}

	.packag-bold{
		font-size: 1.5em;
		font-weight: bold;
		color: $text-header-color;
	}

	.packag-text{
		font-size: 1.5em;
	}

	.item {
		padding-bottom: 5em;
		height: auto;
	}
	.owl-theme {
		.owl-controls {
			text-align: center;
			position: static;
			transform: translatex(0);
		}
	}
}



