
$sx: 'screen and (min-width: 340px)';
$sm: 'screen and (min-width: 700px)';
$md: '';
$lg: '';

$header-bg: #264433;
$header-text: #fff;



$header-color: #333333;
$text-color: #156438;
$bg-color : #9a9a9a;
$white : #ffffff;

$left-menu-color: $text-color;
$hover-color: $white;
$text-header-color: $header-color;
$active-color: $text-color;
